<aside class="sidebar" [class.closed]="isSidebarClosed">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active"><mat-icon>dashboard</mat-icon> <span class="sidebar-text">Dashboard</span></a></li>
    <li><a routerLink="/rules-engine" routerLinkActive="active"><mat-icon>rule</mat-icon> <span class="sidebar-text">Rules Engine</span></a></li>
    <li><a routerLink="/accounts" routerLinkActive="active"><mat-icon>account_circle</mat-icon> <span class="sidebar-text">Accounts</span></a></li>
    <li><a routerLink="/billing" routerLinkActive="active"><mat-icon>receipt</mat-icon> <span class="sidebar-text">Billing</span></a></li>
    <li><a routerLink="/user-management" routerLinkActive="active"><mat-icon>group</mat-icon> <span class="sidebar-text">User Management</span></a></li>
    <li><a routerLink="/settings" routerLinkActive="active"><mat-icon>settings</mat-icon> <span class="sidebar-text">Settings</span></a></li>
  </ul>
</aside>
