<aside class="sidebar" [class.closed]="isSidebarClosed">
  <ul>
    <a routerLink="/home" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a routerLink="/rules-engine" routerLinkActive="active">
      <mat-icon>rule</mat-icon> Rules Engine
    </a>
    <a routerLink="/accounts" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon> Accounts
    </a>
    <a routerLink="/billing" routerLinkActive="active">
      <mat-icon>receipt</mat-icon> Billing
    </a>
    <a routerLink="/user-management" routerLinkActive="active">
      <mat-icon>group</mat-icon> User Management
    </a>
    <a routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings</mat-icon> Settings
    </a>
  </ul>
</aside>
